<div class="book-top">
  <%= chapter.dc_book.title %>
  <div style="font-size:0.6em;"><%= chapter.title %></div>
</div>
<div class="book-chapter-versions"><%= t('drgcms.version', 'Version') %>:
  <% versions.each do |v| %>&nbsp;
  <%= text.version == v[0] ? v[0] : 
      link_to(v[0], method: 'chapter', book_id: chapter.dc_book_id, chapter_id: chapter._id, text_id: v[1] ) %>&nbsp;
  <% end %>
</div>
<div class="book-chapter-prev-next">
  <%= dc_link_to(prev_chapter.title, 'hand-o-left', method: 'chapter', 
              book_id: prev_chapter.dc_book.link, chapter_id: prev_chapter.link ) if prev_chapter %>&nbsp;|&nbsp;
  <%= dc_link_to(' ','hand-o-up', book_id: chapter.dc_book.link, method: 'toc' ) %>&nbsp;|&nbsp;
  <%= dc_link_to(next_chapter.title, 'hand-o-right', method: 'chapter', 
              book_id: next_chapter.dc_book.link, chapter_id: next_chapter.link ) if next_chapter %>
  
</div>
<div class="book-chapter-text">
  <%= if dc_edit_mode?
    dc_link_for_edit({ controller: 'cmsedit', action: 'edit', id: text._id, ids: chapter._id, 
        table: 'dc_book_chapter;dc_book_text', title: "#{t('drgcms.edit')}" })
    end %>

  <%= text.body.html_safe %>
</div>

<div class="book-replies">
  <h2><%= t('dc_blog.comments') %></h2>
  <%= render partial: 'dc_replay/reply', formats: [:html], 
             locals: { replies: replies, parent_id: chapter.id, parent_document: 'dc_book_chapter' } %>
</div>

<iframe id="iframe_edit" name="iframe_edit" scrolling="no"></iframe>